.about {
  &-container {
    max-width: 1097px;
    margin: 0 auto;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
  }
  &-title {
    font-size: 52px;
    line-height: calc(59 / 52);
    color: $blue-color;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
  }
  &-content {
    padding: 56px;
    background-color: #fff;
    box-shadow: #0c173c 0px 2px 8px 0px;
    border-radius: 16px;
    margin: 0 auto;
  }
  &-desc {
    max-width: 420px;
  }
}
