.experience {
  &-container {
    max-width: 1050px;
    margin: 0 auto;
  }
  &-heading {
    max-width: 620px;
    font-size: 28px;
    line-height: calc(41 / 28);
    color: $blue-color;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 42px;
  }
  &-desc {
    line-height: calc(34 / 22);
  }
}
