.footer {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 90px;
  }
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 90px;
    padding-right: 130px;
  }
  &-item {
    max-width: 297px;
    padding: 0 0 24px;
  }
  &-link {
    color: inherit;
    font-size: 24px;
  }
}
