.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 28px;
  &-link {
    font-weight: 600;
    color: inherit;
    &:hover {
      color: $primary-color;
      transition: ease-out 0.2s;
    }
  }
  @media screen and (max-width: 1023.98px) {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    z-index: 99;
    border-left: 1px solid $blue-color;
    flex-direction: column;
    gap: 30px 0;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
