.more {
  background-image: url(https://d1hg5umxljlmgz.cloudfront.net/FE/svg/LP-background_WEAI.svg);
  padding: 82px;
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    img {
      border-radius: 8px;
    }
  }
  &-desc {
    max-width: 580px;
  }
}
