.more {
  background-image: url(https://d1hg5umxljlmgz.cloudfront.net/FE/svg/LP-background_WEAI.svg);
  background-size: cover;
  padding: 82px;
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    img {
      border-radius: 8px;
    }
  }
  &-desc {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    line-height: calc(29 / 22);
    font-size: 22px;
  }
  @media screen and (max-width: 767.98px) {
    &-desc {
      max-width: 500px;
    }
  }
}
