.slick-initialized .slick-slide {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 52px 50px;
  background-image: url(https://d1hg5umxljlmgz.cloudfront.net/FE/svg/LP-background_heading.svg);
  background-repeat: no-repeat;
  background-position: initial;
}
